<div class="content">

  <mat-toolbar color="primary">
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="leftPanel.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav #leftPanel class="sidenav"
                 position="end"
                 mode="side"
                 opened="opened"
    >

      <app-params-form
        *ngIf="config"
        [config]="config"
        (modelChanged)="onModelChange($event)"
      ></app-params-form>
    </mat-sidenav>

    <mat-sidenav-content>

      <div class="page-content">

        <div class="card-wrapper">
          <app-json-writer
            class="json-writer"
            [schema]="defaultSchema"
            (change)="onReceiveSchema($event)"
          ></app-json-writer>
        </div>

        <div class="chart-wrapper">
          <app-chart *ngIf="config"
                     [config]="config.model"
          >
          </app-chart>
        </div>

      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
